:root{
    font-size: 16px;
    --primary-font--:'Segee UI';
    --secondary-font--:'Verdana';
}
*{
    padding:0;
    margin:0;
    font-family: var(--secondary-font--);
}
/**navbar**/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 10px 10px;
    box-shadow: 0px 8px 16px grey;
    position: relative;
    z-index: 1;
}
.navbar .logo{
    font-family: var(--primary-font--);
    font-size: 1.5rem;
}
.navbar ul{
    list-style-type:none;
    display: flex;
}
.navbar ul li{
    padding: 5px 10px;
    margin-right: 0.4px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}
/****br architect background autre et text***/
.br_architect{
    background:url(imag-archtecte/architect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.br_architect .logo{
    padding: 20px 20px;
    font-size: 2rem;
    color:white;
}
.br_architect .logo span{
    background: black;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    opacity: 0.8;
}
/********fin du background********/
 .top{
    margin-top: 26px;
    margin-left: 20px;
    border-bottom: black;
}
/*****traitement des images**********/
.icons img {
    display:inline-block ;
    flex-wrap: wrap;
	width:100%;
    height:190px;
    margin: 20px;
}
.icons{
    display:inline-block;
    margin-left: 0px;
}
.top .icons .logo {
    font-family:Verdana;
    background: black;
    padding: 5px 2px;
    font-size: 10px;
    font-weight: bold;
    color:white;
    opacity: 0.8;
}
/*************fin images**************/

/**************contact**********/
.t1 input {
    margin-top: 20px;
    background-size: cover;
    background:black;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    color:white;
}
.tt1 img{
    padding: 2px 2px 2px 2px;
}
.t2 input{
    display: block;
    margin-top: 20px;
    font-family: cursive;
    background:black;
    padding: 20px 25px;
    font-weight: bold;
    color:white;
}



/* Container holding the image and the text */
.container {
    position: relative;
    padding: 1.08px 6px  ;
    text-align: left;
    color: rgb(14, 13, 13);
    display: inline-block;
}
   
  /* Top left text */
  .top-left {
    position: absolute;
    font-family: Verdana;
    top: 20px;
    left: 45px;
    background-color: black;
    color: white;
    opacity: 0.9;
    text-align: center;
    }
.col-3 input{ 
    background-size: cover;
    opacity: 0.5;
    color: black;
    background-color: grey;
}


    /********************/
  